<div class="container">
    <div class="row">

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

            <form action="" method="POST" role="form">
                <legend>Add Product</legend>

                <div class="form-group">
                    <label for="">product name</label>
                    <input type="text" name="product_name" class="form-control" id="" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="">Product Category</label>
                    <select name="category">

                    </select>
                </div>
                <div class="form-group">
                    <label for="product">Description</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Catalogue</label>
                    <input type="file" name="catalogue" class="form-control">
                </div>



                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>
</div>
